@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(../CSS/main.css);
@import url(../CSS/footer.css);

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.fa-bars {
  display: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/background-one.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero>header {
  display: flex;
  align-items: center;
}

header {
  padding-top: 49px;
}

header>h3>a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 91px;
  height: 16px;
  padding-left: 152px;
}

header>nav>ul {
  display: flex;
  gap: 32px;
  height: 16px;
  padding-left: 408px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

header>nav>ul>li:hover {
  border-bottom: 1px solid #ffffff;
}

.hero>.sec-logo-headline {
  margin-top: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero>.sec-logo-headline>h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.hero>.sec-logo-headline>img {
  transition: 0.8s;
}

.hero>.sec-logo-headline>img:hover {
  transform: rotate(175deg) scale(1.4);
}

.hero>.sec-logo-headline>p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}




@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
  }

  header>nav>ul {
    display: none;
  }

  .fa-bars {
    display: block;
    color: #ffffff;
    font-size: 25px;
  }

  header>h3>a {
    padding-left: unset;
  }

  header {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }



  main>.sec-two {
    width: auto;
    height: auto;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 87px;
    padding: 50px;
  }

  main>.sec-two>article {

    display: grid;
    justify-content: center;
    padding: 50px;
    gap: 40px;
    grid-template-areas: ' left'
      'right ';
    grid-template-columns: repeat(auto-fit, 416px);

  }



  .item1,
  .item2 {
    width: 90% !important;
    margin: auto;
  }

  footer>.sec-last {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 19px;
    text-align: center;
    padding-left: unset !important;
  }
}